<html>
<head>
<title>
Registration Page
</title>
</head>
<body bgcolor="Lightskyblue">
<br>
<br>
<form action="register" method="post">
{% csrf_token %}

<label> Username </label>
<input type="text" name="username" size="15"/> <br> <br>

<label> Firstname </label>
<input type="text" name="firstname" size="15"/> <br> <br>
<label> Lastname: </label>
<input type="text" name="lastname" size="15"/> <br> <br>

<br>
<br>
Email:
<input type="email" id="email" name="email"/> <br>
<br> <br>
Password:
<input type="Password" id="pass" name="password"> <br>
<br> <br>
Re-type password:
<input type="Password" id="repass" name="repassword"> <br> <br>
<input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>